/* last modified 2014-10-18 */

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

body,.dropcap {
    font-family: 'libre baskerville', georgia, times, ubuntu, serif;
    line-height: 1.4;
    /* word-spacing: .07em; for ubuntu only */
}

code {
    font-size: 120%;
    font-family: 'ubuntu mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-family: ubuntu, sans-serif;
}
